<ion-header>
     <ion-navbar>
        <ion-title>Oh My Game</ion-title>
    </ion-navbar>
</ion-header>

<ion-content id="content"  style="overflow-y:scroll">
    <canvas #canvas></canvas>
        <button ion-button
                color="secondary"
                clear 
                *ngFor="let level of levels" 
                id="button{{level.id}}"
                (click)="levelTapped($event, level)"
                [style.left.px]="level.x" 
                [style.bottom.px]="level.y"
        >
            {{level.id}}
        </button>
    <div *ngIf="selectedLevel" padding>
      You navigated here from <b>{{selectedLevel.id}}</b>
    </div>
</ion-content>